:root {
    --main-title-color: #212121;
    --second-titlt-color: #FFFFFF;
    --main-text-color: #757575;
    --second-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --btn-color: #FFFFFF;
    --header-text-color: #212121;
    --second-btn-color: #212121;

    
}
body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Header------------------------------*/
.logo {
    color: var(--accent-color);
}
.logo2 {
    color: black;
}
.header-logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

.header-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--header-text-color);
}

.header-mail {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--header-text-color);
}

.header-tel {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--header-text-color);
}

.header-link:hover, .header-link:focus{
    color: var(--accent-color);
}
.header-mail:hover, .header-mail:focus {
    color: var(--accent-color);
}
.header-tel:hover, header-tel:focus {
    color: var(--accent-color);
}
/*HERO-----------------------------*/

.hero {
    background-color: #2F303A;;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-titlt-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);    
    color: var(--btn-color);
}
 /*ABOUT---------------------------*/

.about-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-title-color);
}

.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.about-title2{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
         color: var(--main-title-color)
}

/*MAIN-----------------------*/

.main-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-title-color);
}

.main-subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-title-color)
}

.main-text {
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-text-color);
}
/*FOOTER--------------------------*/
.footer {
    background: #2F303A;
}
.logo-footer {
    color: var(--accent-color);
}

.logo-footer2 {
    color: #FFFFFF;
}

.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
     color: var(--second-titlt-color)
}

.footer-mail {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
}

.footer-tel {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
}



/*--------------Portfolio-----------------*/

/*MAIN*/
 .title-portfolio {
    display: none;
 }

 .main-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--second-btn-color)
 }

  .main-btn {
    background-color: #F5F4FA;
 }

 .main-btn:hover, .main-btn:focus {
        color: #FFFFFF;
        background-color: var(--accent-color); }

        /*PORTFOLIO HERO*/

.hero-subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
        color: var(--main-title-color);
}

.hero-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--main-text-color);
}
